body {
    font-family: 'Oswald', sans-serif;
}

.elementos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-gap: 10px;
    width: 100%;
    height: auto;
}

.elemento {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

img {
    width: 200px;
    height: auto;
}

.contenedor {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}

.carrito {
    margin-top: 10%;
}

.comprar {
    height: 40px;
    width: 100%;

    font-size: 18px;
    background-color: rgb(207, 131, 131);
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
}

.vaciar {
    height: 40px;
    width: 100%;
    background-color: rgb(207, 131, 131);
    border: none;
    border-radius: 10px;
    margin-top: 5px;

    background-image: url(images/basura.png);
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center;
}

button{
    cursor: pointer;
    height: 30px;
    width: 50px;
}

.img_carrito {
    height: 35px;
    width: auto;
    margin-left: 0px;
}

.carrito_palabra {
    font-size: 35px;
}

ul{
    font-size: 20px;
}

.monitor_c{
    text-align: center;
}

input {
    width: 35px;
    height: 30px;
    text-align: center;
}

.total {
    font-size: 20px;
}
